﻿@model SearchableDropDown.Models.DropDownItems

@{
    ViewBag.Title = "LoadDropDownPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    <header>
        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        @*<script src="~/Scripts/bootstrap-select.min.js"></script>*@
        @*<script src="~/Scripts/bootstrap-select.js"></script>*@
        <script src="~/Scripts/bootstrap-select.js"></script>
        <link href="~/Content/bootstrap-select.min.css" rel="stylesheet" />
    </header>


    <h2>Populating Drop Down</h2>


    @*@Html.TextBoxFor(c=>c.Value,new {@class= "form-control" })*@
    @*<input type="text" class="selectpicker" data-live-search="true"/>*@
    
    
    @using (Html.BeginForm("GetDropDownSelectedItem", "Home", FormMethod.Post, new { id = "demoForm", name = "demoForm" }))
    {

        @Html.DropDownListFor(c => c.Value, new List<SelectListItem>(), new { data_live_search = "true", @class = "selectpicker" })
        <hr/>
        @Html.DropDownListFor(c => c.Value, new List<SelectListItem>(), new { data_live_search = "true", @class = "selectpicker" })
    }
    
    @if (!String.IsNullOrEmpty(ViewBag.ItemSelected))
    {
        <span>You have selected :@ViewBag.ItemSelected</span>
    }

    <script  type="text/javascript">
    function SelectedIndexChanged() {
        //Form post
        document.demoForm.submit();
    }
    </script>  


</body>
